.bg {
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.almaty {
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/Almaty.jpg);
}
.astana {
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/Astana.jpg);
}
.semey {
    height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(assets/Semey.jpg);
}